.shine-img::after {
    position: absolute;
    top: 0;
    left: -90%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.shine-img-hover:hover .shine-img::after {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}

.shine-img-hover:hover .shine-img img {
    opacity: 0.5;
    transform: scale(1.05);
}

.circle-ripple {
    animation: ripple .7s linear infinite;
}

.dot :global(.swiper-pagination-bullet) {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: .6s;
    background-color: transparent;
    opacity: 1;
    position: relative;
    border: 1px solid transparent;
}

.dot :global(.swiper-pagination-bullet:before) {
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #858585;
    transition: .6s;
}

.dot :global(.swiper-pagination-bullet.swiper-pagination-bullet-active) {
    border: 1px solid var(--tp-primary-color);
}

.dot :global(.swiper-pagination-bullet.swiper-pagination-bullet-active:before) {
    background-color: var(--tp-primary-color);
}

.subscribe-box h2 {
    font-size: clamp(1.6rem, 4vw, 2rem);
    color: #1b1f1e;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center !important;
}

.subscribe-box :global(.hs-email) {
    display: flex;
    flex-direction: column;
    width: 60%;
    float: left;
    margin-left: 5%;
}

.subscribe-box input[type=email] {
    padding: 1rem;
    border-radius: 0;
    border: 1px solid #1b1f1d1a;
    border-right: none;
    width: 100%;
}

.subscribe-box input[type=submit] {
    background-color: #1b1f1d;
    font-size: 14pt;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 15px 25px;
    margin-top: 0;
    border-radius: 0;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.subscribe-box :global(.hs-error-msg) {
    color: red;
}

.subscribe-box :global(.hs_error_rollup) {
    display: none;
}


@keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes ripple {
    0% {
        box-shadow:
            0 0 0 0em rgba(101, 255, 120, 0.3),
            0 0 0 0.3em rgba(101, 255, 120, 0.3),
            0 0 0 1em rgba(226, 35, 68, 0.3),
            0 0 0 1.5em rgba(226, 35, 68, 0.3);
    }

    100% {
        box-shadow:
            0 0 0 0.3em rgba(226, 35, 68, 0.3),
            0 0 0 1em rgba(226, 35, 68, 0.3),
            0 0 0 1.5em rgba(226, 35, 68, 0.3),
            0 0 0 2.5em rgba(226, 35, 68, 0);
    }
}

@media only screen and (min-width: 768px) {
    .subscribe-box :global(.hs-email) {

        width: 40%;
        margin-left: 25%;

    }
}

@media only screen and (min-width: 441px) {
    .subscribe-box :global(.hs-email) {

        width: 65%;
        margin-left: 5%;

    }

}