.font-mango {
    font-family: var(--font-mango);
}

.font-aeonik-black {
    font-family: var(--font-aeonik-black);
}

.font-aeonik-trial {
    font-family: var(--font-aeonik-trial);
}

.font-aeonik-bold{
    font-family: var(--font-aeonik-bold);
}
